@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root
{
    --CurrentColor: #282828;
}

body, html
{
    color: white;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #141414;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#eTop
{
    width: 100vw;
    background-color: #282828;
    height: 8vh;
}
#eButtons
{
    width: 90vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: left;
}
#eBottom
{
    height: 92vh;
    width: 100vw;
    background-color: #12345641;
    overflow-y: auto;
}

.eSelector
{
    color: white;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    height: 6vh;
    width: 3.5vw;
    font-size: 1.5vw;
    border-radius: 1.5vw;
    border-width: 0.2vw;
    border-color: #F8981D;
    border-style: groove;
    background-color: var(--CurrentColor);
}
.eSelector:hover
{
    transition: 0.2s;
    background-color: #F8981D;
}

#eWyślij
{
    width: 9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
#eWyślijButton
{
    background-color: #282828;
    color: white;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    height: 6vh;
    width: 7vw;
    font-size: 1.5vw;
    border-radius: 1.5vw;
    border-width: 0.2vw;
    border-color: #F8981D;
    border-style: groove;
    text-align: center;
}
#eWyślijButton:hover
{
    background-color: #F8981D;
}








#eQuestion
{
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    -webkit-user-select: none;

    font-size: 3vh;

    width: 96vw;
    margin: auto;
}

#eAnswer
{
    -webkit-user-select: none;
    width: 100vw;
}
#eAnswer > div
{
    width: 96vw; 
    margin: auto; 
    margin-top: 1.75vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
#eAnswer > div > label
{
    text-align: center;
    padding: 1.5vh;
    width: 80vw; 

    border-bottom: inset #CF8E6D 0.5vh;
    border-radius: 4vh;
    box-shadow: 0vw 0.25vh 0.75vh #CF8E6D;

    font-size: 2vh;
    font-family: consolas;
}
#eAnswer > div > input[type="radio"]
{ display: none; }
#eAnswer > div > input[type="radio"]:checked+label
{
    border-bottom: inset #2AACB8 0.5vh;
    box-shadow: 0vw 0.25vh 0.75vh #2AACB8;
}
