@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html
{
    margin: 0px;
    background-color: #141414;

    width: 100%;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
}

#main
{
    width: 100%;
    height: 100%;
}

#leftPanel
{
    width: 25%;
    height: 100%;

    background-color: #282828;

    border-right: 0.2vw #F8981D solid;

    float: left;

    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;
    color-scheme: dark;
}

#leftPanel h1 
{
    padding-top: 0.5vw;
}

#leftTop
{
    width: 100%;
    height: 175px;
    height: 9.063vw;
    border-bottom: 0.2vw #F8981D solid;
}

#java_header
{
    margin: auto;
    display: block;
    cursor: pointer;
    width: 18.802vw;
}

#leftADC
{
    color: white;
    text-align: center;
    font-size: 1vw;
}

#rightPanel
{
    height: 100%;
    width: 74.38%;

    float: left;
    overflow: auto;
}

#rightSupport
{
    width: 100%;
    height: 91.5%;
}

#rightSupport > embed
{
    width: 100%;
    height: 100%;
}

#rightJungle
{
    width: 100%;
    height: 7.5%;
    border-bottom: 0.2vw #EC2025 dashed;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Next, #Back 
{
    margin: 2%;
    padding: 1% 1.5%;
    
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;

    background-color: #F8981D;
    border: none;
    border-radius: 1.5vw;
}

#tytul
{
    color: white;
    font-size: 2vw;
}