.panels
{
    height: 3.2vw;
    width: 100%;

    border-bottom: 0.2vw #F8981D solid;
    cursor: pointer;
}
.panels > h1
{
    margin: 0px;
    padding: 0px;

    margin-left: 0.75vw;
    margin-right: 0.75vw;

    font-size: 1.3vw;
    font-family: Jockey One;

    color: #0C8AC7;
}
.panels > h2
{
    margin: 0px;
    padding: 0px;
    
    margin-left: 0.75vw;
    margin-right: 0.75vw;

    text-align: right;

    font-size: 0.8vw;
    font-family: Jockey One;

    color: #F8981D;
}