.panels
{
    height: 3.2vw;
    width: 95%;

    border-bottom: 0.15vw #F8981D solid;

    border-radius: 1vw;
    margin: auto;
    margin-top: 1vw;
    box-shadow: 0vw 0.3vw 0.7vw 0.05vw rgb(99, 99, 99);
    cursor: pointer;
}
.panels:hover
{
    box-shadow: 0vw 0.3vw 0.7vw 0.05vw #c11a1d;
}
.panels > h1
{
    margin: 0px;
    padding: 0px;

    margin-left: 0.75vw;
    margin-right: 0.75vw;

    font-size: 1.3vw;
    font-family: Jockey One;

    color: #0C8AC7;
}
.panels > h2
{
    margin: 0px;
    padding: 0px;
    
    margin-left: 0.75vw;
    margin-right: 0.75vw;

    text-align: right;

    font-size: 0.8vw;
    font-family: Jockey One;

    color: #F8981D;
}

@media screen and (max-width: 1000px)
{
    .panels > h1, .panels > h2 {
        font-size: 2vw
    }
    .panels
    {
        height: 6vw;
    }
}