.panels
{
    height: 50px;
    width: 100%;

    border-bottom: 2px #F8981D solid;
    
    cursor: pointer;
}
.panels > h1
{
    margin: 0px;
    padding: 0px;

    margin-left: 7.5px;
    margin-right: 7.5px;

    font-size: 22px;
    font-family: Jockey One;

    color: #0C8AC7;
}
.panels > h2
{
    margin: 0px;
    padding: 0px;
    
    margin-left: 7.5px;
    margin-right: 7.5px;

    text-align: right;

    font-size: 12px;
    font-family: Jockey One;

    color: #F8981D;
}