code
{
    font-family: 'Consolas';
}
.codeBlock
{
    background-color: #1e1e1e;
    border-radius: 1vw;
    padding: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Consolas';
    font-size: 1.4vw;

    text-align: left;
}
.EcodeBlock
{
    background-color: #1e1e1e;
    border-radius: 1vw;
    padding: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Consolas';
    font-size: 2vh;

    text-align: left;
}
.noteBlock > h1,h2,h3,h4,h5,h6
{
    margin: 0px;
    padding: 0px;
}
.noteBlock
{
    background-color: #2e2004;
    border-radius: 1vw;
    padding: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Consolas';
    font-size: 1.4vw;
}
.keyword
{ color: #CF8E6D; }
.comment
{ color: #7A7E85; }
.number
{ color: #2AACB8; }
.string
{ color: #6AAB73; }
.classOrMethodName
{ color: #56A8F5; }
.staticOrInstance
{ color: #C77DBB; }
.JClass
{ color: #34B928;}
.Var
{ color: #8795C4}
.ErrorCode
{ background-color: rgba(255, 0, 0, 0.3); border-radius: 1vw; }

.codeTab
{ margin-left: 3vw; }