@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html
{
    color: white;
    width: 98.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0.5vw;
    background-color: #141414;
}




a
{ color: #0C8AC7; text-decoration: none; }
a:visited
{ color: #085c86;}
a:hover
{ color: #F8981D;}