@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html
{
    color: white;
    padding: 7.5px;
    width: 98.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

