@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html
{
    color: white;
    width: 97%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6vw;
    padding: 0.5vw;
    margin: 0vw;
    background-color: #141414;
    color-scheme: dark;
}

img
{
    width: 64vw;
}

a
{ color: #0C8AC7; text-decoration: none; }
a:visited
{ color: #085c86;}
a:hover
{ color: #F8981D;}

.methods > li 
{
    margin: 20px 0;
}